.product {
    width: 290px;
    margin: 0 auto;
}

.product__image-wrapper {
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 12px;
    height: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.product__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.product__title {
    font-weight: 400;
    font-size: 16px;
}

.product__more {
    position: relative;
    font-size: 14px;
    line-height: 100%;
    color: #2238FF;
    padding-right: 20px;
}

.product__more::after {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 8px;
        background: url('../image/Arrow-blue.svg') no-repeat center;
}

@media (min-width: 768px) {
    .product {
        width: 340px;
    }

    .product__image-wrapper {
        height: 340px;
        margin-bottom: 20px;
    }

    .product__image {
        width: 235px;
    }
}

@media (min-width: 1024px) {
    .product {
        width: 370px;
    }

    .product__image-wrapper {
        height: 370px;
        margin-bottom: 24px;
    }

    .product__image {
        width: 255px;
    }

    .product__info {
        margin-bottom: 24px;
    }

    .product__title {
        font-size: 24px;
    }

    .product__price {
        font-size: 24px;
    }
    
    .product__more {
        font-size: 16px;
    }
}
