.product {
    width: 290px;
    margin: 0 auto;
}

.product__image-wrapper {
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 12px;
    height: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.product__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.product__titile {
    font-weight: 400;
    font-size: 16px;
}

.product__more {
    position: relative;
    font-size: 14px;
    line-height: 100%;
    color: #2238FF;
    padding-right: 20px;
}

.product__more::after {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 8px;
        background: url('../image/Arrow-blue.svg') no-repeat center;
}
