.timer {
    display: flex;
    gap: 4px;
    justify-content: center;
    text-align: center;
}

.timer__item {
    flex: 0 0 80px;
    text-align: center;
}

.timer__unit {
    background: #A3B6C7;
    border-radius: 6px;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    padding: 8px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.timer__unit-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

@media (min-width: 1024px) {
    .timer {
        gap: 8px;
    }

    .timer__item {
        flex-basis: 120px;
    }

    .timer__unit {
        padding: 11px;
        font-size: 40px;
        margin-bottom: 8px;
    }

    .timer__unit-description {
        font-size: 20px;
    }
}